@import url("https://use.typekit.net/qmq0znp.css");

html,
body {
  width: 100%;
  height: 100%;
  font-family: proxima-nova, sans-serif;
  background: #ecf0f1;
}

* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 600px;
  position: relative;
  display: flex;
}

.main-image {
  height: 100%;
  background-position: center;
}

h1 {
  font-size: 28px;
  margin: 5px 0;
  letter-spacing: 1.5px;
}

.subtext {
  font-size: 13px;
  color: grey;
  font-weight: 600;
  letter-spacing: 1px;
}

.front-card-container,
.back-card-container {
  transition: transform 0.8s cubic-bezier(0.075, 0.52, 0.165, 1);
}

.front-card-container {
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: white;
  width: 300px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -190px;
  background-image: url("https://images.unsplash.com/photo-1517486808906-6ca8b3f04846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

.back-card-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  padding: 15px;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
}

.back-card-container.animate {
  transform: translateX(-300px);
}

.top-10 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.column-header {
  margin-bottom: 10px;
}

.column-header > div {
  font-weight: 600;
}

.column-header,
.donor-data {
  padding-left: 8px;
}

.donor-data:nth-child(2n) {
  background-color: #ecf0f1;
}

.donor-data > div {
  font-size: 14px;
  margin: 5px 0;
}

.description {
  height: 300px;
  padding: 0 20px 20px 20px;
}

.text {
  margin-top: 15px;
  line-height: 1.5;
}

.progress-bar-container {
  padding: 0 20px 0 20px;
  height: 80px;
}

.progress-bar-container .top-stats {
  margin-bottom: 5px;
}
.progress-bar-container .bottom-stats {
  margin-top: 5px;
}

.progress-bar {
  display: flex;
  width: 100%;
}

.bar-consumed {
  height: 20px;
  flex: 3;
  background-color: #045179;
}

.bar-remaining {
  height: 20px;
  flex: 1;
  background-color: #ecf0f1;
}

.top-stats,
.bottom-stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table-grid {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.item-row {
  display: flex;
  width: 100%;
}

.column-1 {
  flex: 1;
}

.column-2 {
  flex: 2;
}

.back-card-footer {
  margin-top: 35px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.total-donations {
  font-size: 25px;
}
